{{ define "application_list.content" }}
<div class="container-fluid">
  <div class="row" id="body-row">
      <div id="sidebar-container" class="sidebar-expanded d-none d-md-block col-3">
          <!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
          <!-- Bootstrap List Group -->
          <ul class="list-group sticky-top sticky-offset">
              <!-- Separator with title -->
              <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                  <small>MAIN MENU</small>
              </li>
              <!-- /END Separator -->
              <!-- Menu with submenu -->
              <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-info list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="fa fa-dashboard fa-fw mr-3"></span>
                      <span class="menu-collapsed">Dashboard</span>
                      <span class="submenu-icon ml-auto"></span>
                  </div>
              </a>
              <!-- Submenu content -->
              <div id="submenu1" class="collapse sidebar-submenu">
                  <a href="#" class="list-group-item list-group-item-action bg-info text-white">
                      <span class="menu-collapsed">Applications</span>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action bg-info text-white">
                      <span class="menu-collapsed">Requests</span>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action bg-info text-white">
                      <span class="menu-collapsed">Approved</span>
                  </a>
              </div>
              <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="bg-info list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="fa fa-user fa-fw mr-3"></span>
                      <span class="menu-collapsed">Profile</span>
                      <span class="submenu-icon ml-auto"></span>
                  </div>
              </a>
              <!-- Submenu content -->
              <div id="submenu2" class="collapse sidebar-submenu">
                  <a href="#" class="list-group-item list-group-item-action bg-info text-white">
                      <span class="menu-collapsed">Settings</span>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action bg-info text-white">
                      <span class="menu-collapsed">Password</span>
                  </a>
              </div>
              <a href="#" class="bg-info list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="fa fa-tasks fa-fw mr-3"></span>
                      <span class="menu-collapsed">Tasks</span>
                  </div>
              </a>
              <!-- Separator with title -->
              <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                  <small>OPTIONS</small>
              </li>
              <!-- /END Separator -->
              <a href="#" class="bg-info list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="fa fa-calendar fa-fw mr-3"></span>
                      <span class="menu-collapsed">Calendar</span>
                  </div>
              </a>
              <a href="#" class="bg-info list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="fa fa-envelope-o fa-fw mr-3"></span>
                      <span class="menu-collapsed">Messages <span class="badge badge-pill badge-primary ml-2">5</span></span>
                  </div>
              </a>
              <!-- Separator without title -->
              <li class="list-group-item sidebar-separator menu-collapsed"></li>
              <!-- /END Separator -->
              <a href="#" class="bg-info list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="fa fa-question fa-fw mr-3"></span>
                      <span class="menu-collapsed">Help</span>
                  </div>
              </a>
              <a href="#" data-toggle="sidebar-colapse" class="bg-info list-group-item list-group-item-action d-flex align-items-center">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span id="collapse-icon" class="fa fa-2x mr-3"></span>
                      <span id="collapse-text" class="menu-collapsed">Collapse</span>
                  </div>
              </a>
          </ul>
          <!-- List Group END-->
      </div>

      <div class="col-9">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h2>Menu Categories</h2>
          </div>
          <div class="pt-3 pb-2 mb-3">
              <a class="btn btn-primary btn-lg" href="/admin/posts/new" role="button">Notice</a>
          </div>
          <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Company Name</th>
                  <th scope="col">Title</th>
                  <th scope="col">Description</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {{ range . }}
                <tr>
                  <td> {{ .Name }} </td>
                  <td> {{ .Title }} </td>
                  <td> {{ .Description }} </td>
                  <td> <a href="/cmp/posts/update?id={{ .Id }}">Edit</a> </td>
                  <td> <a href="/cmp/posts/delete?id={{ .Id }}">Delete</a> </td>
                </tr>
                {{ end }}
              </tbody>
          </table>
      </main>
      </div>
  </div>

</div>
{{ end }}