{{ define "cmp_signup.content" }}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">
            
                <form class="form-container shadow" action="/cmp-signup-account" method="POST">
                    <div class="form-group">
                        <label for="email">Company Name</label>
                        <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="User Name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email number" class="form-control" id="useremail" name="useremail" aria-describedby="emailHelp" placeholder="Email or Phone">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Password">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="remember">
                        <label class="form-check-label" for="remember">Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-info btn-block">signup</button>
                    <span><a href="/cmp-signin">already have an account >></a></span>
                </form>
            
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
        </div>
    </div>

{{ end }}