{{ define "home.content" }}

    <div class="container-fluid" style="margin-top: 20px;">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <a href="">Jobs</a>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <a href="">Events</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
              <div class="container">
                  <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <a href="post-job"><button class="btn btn-info">Post Job</button></a>
                    </div>
                  
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <a href=""><button class="btn btn-info">Create Event</button></a>
                    </div>
                  
                  </div>
              </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

{{ end }}
