{{ define "index.content" }}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-6 col-xs-12">

            <div class="">
                <form method="GET" action="/User" class="fo">
                    <div class="form-group">
                        <button type="submit" class="btn btn-info btn-block">Signup as a User</button>
                    </div>
                </form>

                <form method="GET" action="/company" class="fo">
                    <div class="form-group">
                        <button type="submit" class="btn btn-info btn-block">Signup as a Company</button>
                    </div>

                    <a href="/signin">already have an account></a>
                </form>
            </div>

        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
</div>

{{ end }}