{{define "navbar"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notice_board</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="../assets/styles/global.css">

</head>

<body>
    
    <div class="jumbotron jumbotron-fluid" style="margin-bottom: 0px;">
      <div class="container">
        <h1>Info Lehulum</h1>
        <p>Let's share crucial information</p>
      </div>
        
    </div>

  <nav class="navbar navbar-expand-md navbar-dark bg-info sticky-top">

          <span href="#" class="navbar-brand">Info Lehulum</span>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>       
          </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a href="#" class="nav-link js-scroll-trigger">Home</a>
              </li>
              <li class="nav-item">
                  <a href="#" class="nav-link js-scroll-trigger">Notifications</a>
              </li>
              <li class="nav-item">
                  <a href="#" class="nav-link js-scroll-trigger">Message</a>
              </li>
              <li class="nav-item">
                  <a href="#" class="nav-link js-scroll-trigger">My Link</a>
              </li>
          </ul>

          <form action="" class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-light my-sm-0" type="submit">Search</button>
          </form>
      </div>

  </nav>

  
  <script type="text/javascript">    
    $('.js-scroll-trigger').click(function() {
    $('.navbar-collapse').collapse('hide');
    });
  </script>

{{end}}