{{ define "request_list.content" }}
    <div class="col-9">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h2>My Applications</h2>
          </div>
          <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Company Name</th>
                  <th scope="col">Title</th>
                  <th scope="col">Description</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {{ range . }}
                <tr>
                  <td> {{ .Name }} </td>
                  <td> {{ .Title }} </td>
                  <td> {{ .Description }} </td>
                  <td> <a href="/cmp/posts/update?id={{ .Id }}">Edit</a> </td>
                  <td> <a href="/cmp/posts/delete?id={{ .Id }}">Delete</a> </td>
                </tr>
                {{ end }}
              </tbody>
          </table>
      </main>
      </div>
  </div>

</div>
{{ end }}